.cardListContainer {
  padding: 0 50px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.cardWrapper {
  margin-bottom: 30px;
  margin-right: 60px;
  cursor: pointer;
  box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  .cardListContainer {
    justify-content: center;
  }
}
@media screen and (max-width: 680px) {
  .cardWrapper {
    margin-right: 0px;
  }
}
