.categoryFilterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}
.categoriesLabel {
  color: white;
  font-weight: bold;
  margin-right: 10px;
}
.selectByCategory {
  border: none;
  background-color: white;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .categoryFilterContainer {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
