@import "./styles/reset.scss";
@import "./styles/normalize.scss";
@import "./styles/fonts.scss";

body {
  font-family: $font-Montserrat;
}

html {
  background: url(/background.jpg) center center fixed no-repeat;
  background-size: cover;
  overflow: scroll;
}
